<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세</title>
</head>
<body>
  <div class="wrap">
    <div class="content">
      <h3>상품 상세</h3>
      <hr>
      <div>
      <form id="detailForm" action="" th:action th:object="${detailForm}">
        <input type="hidden" th:field="*{productId}">
        <ul>
          <li>
            <span>상품명</span>
            <input type="text" th:field="*{productName}" readonly="readonly">
          </li>
          <li>
            <span>가격</span>
            <input type="text" th:field="*{productPrice}" readonly="readonly">
          </li>
          <li>
            <span>수량</span>
            <input type="text" th:field="*{productFig}" readonly="readonly">
          </li>
          <li>
            <button type="button" id="updateBtn">수정</button>
            <button type="button" id="deleteBtn">삭제</button>
            <button type="button" id="listBtn">목록</button>
          </li>
        </ul>
      </form>
      </div>
    </div>
  </div>    
  <script>

    const $updateBtn = document.getElementById('updateBtn');
    $updateBtn.addEventListener('click', evt=>{
      const productId = document.getElementById('detailForm').productId.value;
      const url = `/product/${productId}/edit`;
      location.href = url;
    });

    const $deleteBtn = document.getElementById('deleteBtn');
    $deleteBtn.addEventListener('click', evt=>{
      if(confirm('삭제하시겠습니까?')){
        const productId = document.getElementById('detailForm').productId.value;
        const url = `/product/${productId}/del`;
        location.href = url;
      }
    });
    const $listBtn = document.getElementById('listBtn');
     $listBtn.addEventListener('click', evt=>{
      location.href = '/product/all';
     });
  </script>
</body>
</html>