<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 등록</title>
</head>
<body>
  <div class="wrap">
    <div class="content">
      <h3>상품 등록</h3>
      <hr>
      <div>
      <form id="saveForm" action="" th:action th:method="post" th:object="${saveForm}">
        <ul>
          <li>
            <span>상품명</span>
            <input type="text" th:field="*{productName}">
          </li>
          <li>
            <span>가격</span>
            <input type="text" th:field="*{productPrice}">
          </li>
          <li>
            <span>수량</span>
            <input type="text" th:field="*{productFig}">
          </li>
          <li>
            <button type="button" id="saveBtn">등록</button>
          </li>
        </ul>
      </form>
      </div>
    </div>
  </div>    
  <script>
    const $saveBtn = document.getElementById('saveBtn');
    $saveBtn.addEventListener('click', evt=>{
      document.getElementById('saveForm').submit();
    });

  </script>
</body>
</html>